@import url('https://fonts.googleapis.com/css2?family=Labrada:ital@0;1&family=Noto+Sans+TC&family=Raleway:ital,wght@1,700;1,900&display=swap');
#side{
    position: fixed;
    width: 10%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    top: 0;
    left: 0;
    z-index: 1000;
}
#shead{
    float: left;
    width: 100%;
    height: fit-content;
}
#soption{
    float: left;
    width: 100%;
    height: fit-content;
}
.sideb{
    border: 0;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 120%;
    width: 100%;
    height: 40px;
    text-align: center;
}
.sideb:hover{
    border: 0;
    background-color: #ffffff;
    color: #000000;
}
#sideleft{
    float: left;
    width: 11%;
    height: fit-content;
    color: #e0ff2c;
}
#content{
    float: left;
    width: 89%;
    height: fit-content;
}